<!DOCTYPE html>
<html lang="{{site.Language.LanguageCode}}">
<head>
{{ partial "head.html" . }}
{{ partial "extrahead.html" . }}
<title>{{- block "title" . -}}{{- partial "title.html" (dict "titles" (slice .Title) ) -}}{{- end -}}</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.0.2/lunr.js"></script>
</head>
<body>
{{- block "beforeheader" . }}
{{- end }}
{{- partial "header.html" . }}
{{- partial "nav.html" . }}
{{- block "extraheader" . }}
{{- end }}
<main id="mainc">
{{- block "main" . }}
{{- end }}
</main>
<div id="hgfooter">
{{ partial "footer.html" .}}
</div>
{{ partial "extrafoot.html" . }}
<script src="{{absURL "scripts/copy.js"}}"></script>
<script src="{{ absURL "scripts/search.js" }}"></script>
</body>
</html>