{{- $sformats := slice "pagefind" "lunr" }}
{{- $sformat := .Site.Params.search.format }}
{{- if not (in $sformats $sformat) }}
{{- errorf "Invalid search format %s. Valid formats are %s" $sformat (delimit $sformats " ") }}
{{- end -}}
<!DOCTYPE html>
<html lang="{{site.Language.LanguageCode}}">
<head>
{{ partial "head.html" . }}
{{ partial "extrahead.html" . }}
<title>{{- block "title" . -}}{{- partial "title.html" (dict "titles" (slice .Title) ) -}}{{- end -}}</title>
{{- if (and (eq .Site.Params.search.enable true) (eq .Site.Params.search.format "default")) }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.0.2/lunr.js"></script>
{{- end }}
</head>
<body>
{{- block "beforeheader" . }}
{{- end }}
{{- partial "header.html" . }}
{{- partial "nav.html" . }}
{{- block "extraheader" . }}
{{- end }}
<main id="mainc"{{ if (and (eq $sformat "pagefind") (eq (.Params.search | default .Site.Params.search.enable) true)) }} data-pagefind-body{{ end }}>
{{- block "main" . }}
{{- end }}
</main>
<div id="hgfooter">
{{ partial "footer.html" .}}
</div>
{{ partial "extrafoot.html" . }}
<script src="{{absURL "scripts/copy.js"}}"></script>
{{- if (and (eq .Site.Params.search.enable true) (eq .Site.Params.search.format "default")) }}
{{- $searchr := resources.Get "scripts/search.js" }}
<script src="{{ $searchr.RelPermalink }}"></script>
{{- else if (and (eq .Site.Params.search.enable true) (eq .Site.Params.search.format "pagefind")) }}
<script>
window.addEventListener('DOMContentLoaded', (event) => {
  new PagefindUI({ element: "#search", showSubResults: true });
});
</script>
{{- end }}
</body>
</html>