{{- /*
Render related content.

page page the object pointing streight to a page.
hlevel int the heading level (optional)
text string the text for the heading (optional)

*/ -}}
{{- $text := "You might also like" }}
{{- $hlevel := 4 }}
{{- $page := "" }}
{{- with .page }}
{{- $page = . }}
{{- else }}
{{- errorf "Missing page argument" }}
{{- end }}
{{- with .text }}
{{- $text = . }}
{{- end }}
{{- with .hlevel }}
{{- $hlevel = . }}
{{- end }}
{{ $related := $page.Site.RegularPages.Related $page | first 5 }}
{{ with $related }}
<h{{ $hlevel }}>{{ $text }}</h{{ $hlevel }}>
<ul>
{{ range . }}
<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
{{ end }}
</ul>
{{ end }}